
 
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 text-black">
            <div class="px-5 ms-xl-4 logo">
              <!-- <i
                class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4"
                style="color: #709085"
              ></i> -->
              <span class="h1 fw-bold mb-0">Online Taxi Booking</span>
            </div>

            <div
              class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5"
            >
              <form style="width: 23rem needs-validation" method="POST" action="/registerUser" novalidate>
                <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
                  Register
                </h3>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form2Example18"
                  >Name</label>
                  <input
                    id="nameregister"
                    class="form-control form-control-lg"
                    name="name"
                  />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form2Example28"
                  >Email</label
                  ><input
                    type="email"
                    id="emailregister"
                    class="form-control form-control-lg"
                    name="email"
                  />
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form2Example28"
                    >Mobile No</label
                  >
                  <input
                    id="mobileregister"
                    class="form-control form-control-lg"
                    name="mobile"
                  />
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form2Example28"
                  >Password</label
                  ><input
                    type="password"
                    id="passwordregister"
                    class="form-control form-control-lg"
                    name="password"
                  />
                </div>
                <div class="pt-1 mb-4">
                  <button class="btn btn-info btn-lg btn-block"> 
                    <a>Register</a>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-sm-6 px-0 d-none d-sm-block">
            <img
              src="images/picdriver.jpeg"
              alt="Login image"
              class="wh-100 vh-100 pic"
              style="object-fit: cover; object-position: right"
            />
          </div>
        </div>
      </div>
